.map {
  width: 100%;
  height: 100vh;
  z-index: 1;
}

.location {
  z-index: 1000;

} 

.popup {
  z-index: 1000;
}

.panel {
  position: fixed; 
  /* display: none;  */
  width: 100%; 
  height: 10%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: transparent; 
  z-index: 2; 
}

.fault-card-visible {
  position: fixed; 
  /* display: none;  */
  width: 20%; 
  height: 10%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: transparent; 
  z-index: 2; 
}

.fault-card-hidden {
  position: fixed; 
  display: none; 
  width: 20%; 
  height: 10%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: transparent; 
  z-index: 2; 
}