.fault-card-visible {
  position: absolute;
  width: 30%; 
  height: 20%;
  top: 5px;
  left: 20px;
  background-color: white; 
  z-index: 1000; 
}

.fault-card-hidden {
  display: none; 
}

.card-header {
 display: inline-block; 
 width: 100%;
}

.close-btn {
  width: 10%;
  display: inline-block; 
}

.heading-card {
  display: inline-block;
  text-align: center; 
  width: 80%;
}

.box {
  position: relative;
  display: inline-block; 
  height: 20px;
  width: 20px;
  border: 1px solid black;
}

.magenta {
  background-color: magenta;
}

.orange {
  background-color: orange;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}